@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fade-anim img {
  animation: fadeAnim 2.0s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer base {
    html {
      font-family: Poppins, sans-serif;
    }
  }

.carousel .slide img{
  height: 60%;
}

.thumbs{
  display: none;
}

.control-arrow.control-prev,.control-arrow.control-next{
  height: 50%;
}

ul.control-dots{
  display: none;
}

.events img{
  height: 50%;
}

.carousel-root{
  height: 500px;
}